/* 
    Created on : 23/03/2015, 21:09:19
    Author     : udimberto.sjunior
*/

header,
section,
footer {
  position: relative;
}

/*LOCK SCREEN CONF*/
#showtime {
  display: inline-block;
  width: 100%;
  padding: 5px 15px;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
}

.lock-panel {
  min-height: 240px;
  max-width: 300px;
  margin: 15px auto;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
  color: #555;
  background-color: #E7E7E7;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
}

.lock-panel-header {
  font-size: 25px;
  line-height: 30px;
  font-weight: 100;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(0,0,0,0.15);
}

.lock-panel-body {
  padding: 30px 0px 15px 0px;
}

.lock-panel-body form,
.lock-panel-body .form-group:last-of-type {
  margin-bottom: 0px;
}
.lock-panel-body label {
  white-space: nowrap;
}

footer {
  width: 100% !important;
  left: 0;
  right: 0;
  margin-top: 25px;
  padding: 5px 15px;
  color: rgba(255,255,255,0.5);
  background-color: rgba(0,0,0,0.25);
}